name: Publish Quarto site

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Publish Quarto site
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages